.fg-grid {
  display: -webkit-flex;
}
.fg-col {
  -webkit-flex-direction: column;
}
.fg-row {
  -webkit-flex-direction: row;
}
.fg-7 {
  -webkit-flex: 7;
}
.fg-3 {
  -webkit-flex: 3;
}
.fg-1 {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
